.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.hidden {
   display: none !important;
}

.task-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.task-card h3 {
    margin-top: 0;
}
/* Color coding classes */
.task-card.overdue {
    background-color: #ffdddd; /* Light red */
    border-left: 5px solid #f44336; /* Red */
}
.task-card.due-soon {
    background-color: #e3d7ff; /* Light purple */
    border-left: 5px solid #9c27b0; /* Purple */
}
.task-card.default-color {
    background-color: #ddffdd; /* Light green */
    border-left: 5px solid #4CAF50; /* Green */
}
