<div>
    <input type="hidden" name="taskId" id="deleteConfirmTaskId">
    
    <div>
        <label for="deleteReason">Reason for delete (削除理由):</label>
        <input type="text" name="reasonForDelete" id="deleteReason" style="width: 90%;">
    </div>
    
    <p style="margin-top: 15px; margin-bottom: 15px;">Truly delete? Yes. (本当に削除しますか？ はい。)</p>
    
    <div>
        <button type="button" id="confirmDeleteYesButton" style="margin-right: 10px;">Yes (はい)</button>
        <button type="button" id="confirmDeleteCancelButton">Cancel (キャンセル)</button>
    </div>
</div>
